/* Estilos gerais para a página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: justify; /* Centraliza os botões horizontalmente */
    justify-content: center; /* Centraliza os botões verticalmente */
    height: 100vh; /* Altura total da tela */
}

.titulo {
    background-color: #401801 ;
    color: white ;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
    padding: 10px;
    height: 30%;   
    margin-top: 10px;
    margin-block: 10px;
}
.h2{
    text-align: center;
    font-size: 50px;
    color: white;
    text-align: center;
    border-radius: 5000px 150px 150px;
    background-color: #401801 ; 
     
}

.botao-reservar {
    display: block;
    margin: 10px auto;
    padding: 15px 30px;
    background-color: #401801;    ;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#A66B37;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.quarto {
    display: inline-block; /* Faz com que cada quarto seja exibido em linha */
    width: calc(100% - 20px); /* Largura do quarto (descontando a margem) */
    margin: 10px auto; /* Centraliza o quarto */
    padding: 10px;
    border: 1px solid #BF9B7A;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box; /* Inclui a borda no cálculo do tamanho */
}

.descricao-quarto {
    margin-bottom: 10px;
}

.preco-quarto {
    font-weight: bold;
    color: white;
}

.imgquarto{
    height: 90%;
    width: 100%;
}
.selecionar-quarto {
    display: block;
    margin: auto; /* Centraliza horizontalmente */
    text-align: center; /* Alinha o texto ao centro */
    padding: 15px 15px 15px 15px;
    margin-bottom: 20px;
    background-color: #401801;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
}
.fechar-modal:hover {
    background-color:#401801; /* Altera a cor de fundo quando o mouse passa por cima */
}
/* Estilos para o botão de voltar */
.botao-voltar {
    margin-top: 10px;
    display: block;
    margin: 5px auto;
    padding: 15px 30px;
    background-color:#401801;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}